textarea{
    width: 100%;
    font-size: large;
    padding: 5px;
}

input{
    border-radius: 30px;
    padding: 10px;
}

td{
    padding: 20px;
    border-radius: 0;
}
table{
    margin: 0 auto;
    border: 1px solid black;
}