.Mendellinfo{
  display: flex;
}
.genotype{
  color: #1d3fa5;
  border:2px solid #1d3fa5;
}
.genotype:hover {
  background-color: #1d3fa5;
}
.clear{
  color: #a51d1d;
  border:2px solid #a51d1d;
  position: absolute;
  right: 47px;
}
.clear:hover {
  background-color: #a51d1d;
}
.ascend{
  color: #589f48;
  border:2px solid #589f48;
}
.ascend:hover {
  background-color: #589f48;
}
.descend{
  color: #e84233;
  border:2px solid #e84233;
}
.descend:hover {
  background-color: #e84233;
}
.SpiskiVariantov {
  display: flex;
}
.Mumkin {
  width: 50vw;
}
.Phenomumkin {
  width: 50vw -50px;
}
.Phenomumkin span{
  color:#be1b1b;
}
ol{
  margin-top: 10px;
  margin-left: 30px;
}
.probab{
  border:1px solid black;
  outline:none;
  border-radius: 8px;
  padding: 20px;
}
input{
  accent-color: rgb(4, 169, 4);
}
input[type="checkbox"]{
  height: 40px;
  width:40px;
}